<!--.columns-->
<div class="columns">
  <!--.column-->

  <!-- Bulma (and most frameworks) uses 12 columns grid -->
  <div class="column is-3">
    <!--h2.subtitle-->
    <h2 class="subtitle">Bookmarks</h2>
    <div class="columns is-multiline">
      <!-- 'is-6' ie. '6 out of 12' ie. 1/2  -->
      <ma-poster class="column is-6" *ngFor="let bookmark of bookmarks" [tvShow]="bookmark" size="md"></ma-poster>
    </div>
  </div>

  <div class="column">
    <h2 class="subtitle">Search for albums</h2>
    <!--.control.field.has-addons  -->
    <form class="control field has-addons">
      <!--button.button.is-primary-->

      <!-- template local variable with DOM element  #-->
      <!--<input #queryRef type="search" class="input">-->
      <!-- pass property of DOM element stored in template local variable -->
      <!--<button class="button is-primary" (click)="search(queryRef.value)">find</button>-->

      <!-- two way binding -->
      <!-- name="query" attribute is required by Angular form -->
      <input name="query" [(ngModel)]="query" type="search" class="input">

      <!-- default type is 'submit'! So remember to change the type of all other buttons to 'button'! -->
      <!-- Otherwise first one will be activated on ENTER-->
      <button type="submit" class="button is-primary" (click)="search(query)">find</button>
    </form>

    <div class="columns is-multiline">
      <div class="column is-4" *ngFor="let show of shows">
        <!-- [size]="lg" does not work because "lg" is evaluaed as JS expression -->
        <!-- [size]="'lg'" would work but is awkward -->
        <!-- size="lg" alternative syntax is much better -->
        <ma-poster size="lg" [tvShow]="show"></ma-poster>
        <button class="button is-info" type="button" (click)="saveBookmark(show)">save</button>

        <!--<img [src]="show.image.medium" alt="">
        <h2>{{show.name}}</h2>-->
      </div>
    </div>
  </div>
</div>
