<!--.columns-->
<div class="columns">
  <!--.column-->

  <!-- Bulma (and most frameworks) uses 12 columns grid -->
  <div class="column is-3">
    <!--h2.subtitle-->
    <h2 class="subtitle">Bookmarks</h2>
  </div>

  <div class="column">
    <h2 class="subtitle">Search for albums</h2>
    <!--.control.field.has-addons  -->
    <div class="control field has-addons">

      <!-- template local variable with DOM element  #-->
      <input #queryRef type="search" class="input">

      <!--button.button.is-primary-->
      <!-- pass property of DOM element stored in template local variable -->
      <button class="button is-primary" (click)="search(queryRef.value)">find</button>
    </div>

    <div class="columns is-multiline">
      <div class="column is-4" *ngFor="let show of shows">
        {{show.name}}
      </div>
    </div>
  </div>
</div>
