<!--.columns-->
<div class="columns">
  <!--.column-->

  <!-- Bulma (and most frameworks) uses 12 columns grid -->
  <div class="column is-3"> 
    <!--h2.subtitle-->
    <h2 class="subtitle">Bookmarks</h2>
  </div>

  <div class="column">
    <h2 class="subtitle">Search for albums</h2>
    <!--.control.field.has-addons  -->
    <div class="control field has-addons">
      <input type="search" class="input">
      <!--button.button.is-primary-->
      <button class="button is-primary">find</button>
    </div>
  </div>  
</div>
